*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrap {
  width: 70%;
  margin: 0 auto;
  border: 2px solid tomato;
}

.hide-form {
  display: none;
}

.word {
  width: 100%;
  height: 40em;
  border: 2px solid blue;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.center-header {
  margin: auto;
  border: 2px solid hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)*/
}

.definition {
  border: 2px solid purple;
  /*display: flex;
  justify-content: center;
  align-items: flex-end;*/
}

img {
  width: 100%;
}


h1 {
  color: blue;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

.ng-invalid.ng-touched {
  border: 1px solid red;
}
